# dependencies
node_modules/
.pnp
.pnp.*

# testing
coverage/
*/coverage/
.nyc_output/

# next.js
.next/
out/
*/.next/
*/out/

# production
dist/
build/
*/dist/
*/build/

# env file
.env
.env.*
!.env.example
**/.env.local

# typeScript
*.tsbuildinfo
next-env.d.ts

# logs 
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# cache
.cache/
.eslintcache
.turbo/
.swc/

# package manager 
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store/

# vercel
.vercel

# database
*.sqlite
*.sqlite3
*.db
*.db-journal

# OS 
.DS_Store
Thumbs.db

# IDE 
.vscode/
.idea/
*.pem